@model LibraryManagement.Models.Aktor

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń Aktora</h2>

<h3>Czy na pewno chcesz usunąć tą pozycję?</h3>
<div>
    <h4>Aktor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Imię")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayName("Nazwisko")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
