@{
    ViewBag.Title = "Dashboard";
}
<h2>Dashboard</h2>
<table class="table">
    <tr>
        <td>
            <label>Zarządzaj Kontem</label>
            <ul>
                <li>
                    @Html.ActionLink("Edytuj Profil", "Edit", "Czytelnik", new { id = Session["UserID"] }, null)
                </li>
                <li>
                    @Html.ActionLink("Moje Wiadomości", "Index", "Wiadomosci", new { }, null)
                </li>
                <li>
                    @Html.ActionLink("Wpożyczone Książki", "Index", "Wypozyczenia_Ksiazki", new { }, null)
                </li>
                <li>
                    @Html.ActionLink("Wpożyczone Filmy", "Index", "Wypozyczenia_Filmu", new { }, null)
                </li>
                <li>
                    @Html.ActionLink("Wpożyczone Czasopisma", "Index", "Wypozyczenia_Czasopisma", new { }, null)
                </li>
                <li>
                    @Html.ActionLink("Wpożyczone Prace Naukowe", "Index", "Wypozyczenia_Praca_Naukowa", new { }, null)
                </li>
                <li>
                    @Html.ActionLink("Wyloguj", "Logout", "Konta", new { }, null)
                </li>
            </ul>
        </td>
        @if (Session["UserRole"] != null)
        {
            var userRole = Int32.Parse(Session["UserRole"].ToString());
            if (userRole > 0)
            {
                <td>
                    <label>Panel Administracyjny</label>
                    <ul>
                        <li>
                            @Html.ActionLink("Zarządzaj Czytelnikami", "Index", "Czytelnik", new { }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Zarządzaj Książkami", "Index", "Ksiazka", new { }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Zarządzaj Czasopismami", "Index", "Czasopismo", new { }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Zarządzaj Pracami Naukowymi", "Index", "Praca_Naukowa", new { }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Zarządzaj Autorami", "Index", "Autor", new { }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Zarządzaj Wydawcami", "Index", "Wydawca", new { }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Zarządzaj Filmami", "Index", "Film", new { }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Zarządzaj Aktorami", "Index", "Aktor", new { }, null)
                        </li>
                    </ul>
                </td>
            }
        }
    </tr>

</table>
