@model LibraryManagement.Models.Czytelnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Czytelnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uzytkownik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uzytkownik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Haslo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haslo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wazne)
            
        </dt>
        <dd>
            @Html.CheckBoxFor(model => model.Wazne, new { htmlAttributes = new { @class = "form-control" }, disabled = "disabled" })
            
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Rola)            
        </dt>           
        <dd>
            @ViewBag.UserRoleString            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
