@model IEnumerable<LibraryManagement.Models.Czytelnik>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Czytelników</h2>
@if (Session["UserID"] != null)
{
    if (Model.Where(x => x.ID.ToString().Equals(Session["UserID"].ToString())).FirstOrDefault().Rola >= 2)
     {
           <p>
       @Html.ActionLink("Create New", "Create")
           </p>
     }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uzytkownik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uzytkownik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (Session["UserID"] != null)
                {
                    
                    if (item.Rola < Model.Where(x => x.ID.ToString().Equals(Session["UserID"])).FirstOrDefault().Rola)
                        {
                        Html.ActionLink("Edit", "Edit", new { id = item.ID });
                        Html.ActionLink("Details", "Details", new { id = item.ID });
                        Html.ActionLink("Delete", "Delete", new { id = item.ID });
                        }
                 }
            </td>
        </tr>
    }

</table>
