@model LibraryManagement.Models.Czasopismo

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tytuł")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        
        <dd>
            @Html.HiddenFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayName("Ilość stron")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strony)
        </dd>

        <dt>
            @Html.DisplayName("Autor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Imie)
            @Html.DisplayFor(model => model.Autor.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayName("Wydawca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wydawca.Nazwa)
        </dd>

        <dt>
            @Html.DisplayName("Stan magazynowy")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stan_Magazynowy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do Listy", "Index")
</p>
