@model IEnumerable<LibraryManagement.Models.Wiadomosci>

@{
    ViewBag.Title = "Index";
}

<h2>Lista wiadomości</h2>

<p>
    @Html.ActionLink("Utwórz nową wiadomość", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Treść")
        </th>
        <th>
            @Html.DisplayName("Od:")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Czytelnik.Imie)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
