@model LibraryManagement.Models.Ksiazka

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ksiazka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Aktora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Aktora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slowo_Kluczowe.Slowo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slowo_Kluczowe.Slowo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wydawca.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wydawca.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
