@model IEnumerable<LibraryManagement.Models.Ksiazka>

@{
    ViewBag.Title = "Index";
}
<h2>Lista Książek</h2>
@if (Session["UserID"] != null && Session["UserRole"] != null)
{
    if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strony)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Autora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slowo_Kluczowe.Slowo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wydawca.Nazwa)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strony)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Aktora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slowo_Kluczowe.Slowo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wydawca.Nazwa)
            </td>
            @if (Session["UserID"] != null && Session["UserRole"] != null)
            {
                if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                        @Html.ActionLink("Dodaj do Koszyka", "Add", "Koszyk", new { id = item.ID, type = 0 }, null)
                    </td>
                }
            }
        </tr>
    }
</table>
