@model IEnumerable<LibraryManagement.Models.Autor>

@{
    ViewBag.Title = "Index";
}
<h2>Lista Autorów</h2>
@if (Session["UserID"] != null && Session["UserRole"] != null)
{
    if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            @if (Session["UserID"] != null && Session["UserRole"] != null)
            {
                if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                }
            }
        </tr>
    }
</table>
