@model LibraryManagement.Models.Praca_Naukowa

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń Pracę Naukową</h2>

<h3>Czy na pewno chcesz usunąć tą pozycje?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tytuł")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayName("Autor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Imie)
            @Html.DisplayFor(model => model.Autor.Nazwisko)

        </dd>
        <dt>
            @Html.DisplayName("Dostępne")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stan_Magazynowy)

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
