@model LibraryManagement.Models.Praca_Naukowa

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tytuł")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayName("Autor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Imie)
            @Html.DisplayFor(model => model.Autor.Nazwisko)

        </dd>
        <dt>
            @Html.DisplayName("Dostępne")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stan_Magazynowy)

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
