@model IEnumerable<LibraryManagement.Models.Wypozyczenia_Praca_Naukowa>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Wypożyczonych Prac Naukowych</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Data wypożyczenia")
        </th>
        <th>
            @Html.DisplayName("Data zwrotu")
        </th>
        <th>
            @Html.DisplayName("Wypożyczał")
        </th>
        <th>
            @Html.DisplayName("Tytuł")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stan1.Opis)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Wypozyczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Zwrotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Czytelnik.Imie)
                @Html.DisplayFor(modelItem => item.Czytelnik.Nazwisko)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Praca_Naukowa.Tytul)
            </td>
            @if (Session["UserID"] != null && Session["UserRole"] != null)
            {
                if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
                {
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Szczegóły", "Details", new { id = item.ID })
                    </td>
                }
            }
        </tr>
    }
</table>

