@model IEnumerable<LibraryManagement.Models.Wypozyczenia_Praca_Naukowa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_Wypozyczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Zwrotu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Czytelnik.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Praca_Naukowa.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stan1.Opis)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Wypozyczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Zwrotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Czytelnik.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Praca_Naukowa.Tytul)
            </td>
            @if (Session["UserID"] != null && Session["UserRole"] != null)
            {
                if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                }
            }
        </tr>
    }
</table>

